<!DOCTYPE html>
<html lang="en">
<head>
  <title>SuperGeocoder</title>
  <link rel="stylesheet" href="./static/main_13.css">
  <link rel="icon" href="./static/assets/favicon.ico">
</head>
<body background="./static/assets/5.jpg">
  <div class="container">
    <div class="row">
      You are here : <strong>File Example</strong>
    </div>


    <div class="row">
      <p class="welcome-text">CSV file Example</p>
      <p>Below is a valid CSV file that contains a column for a series of addresses:</p>
    <div class="csvexample">
      id,ADDRESS,name,employees<br>
      1,30 Heke Street Ngaio Wellington New Zealand,John,20<br>
      2,21 Raumati Terrace Khandallah Wellington New Zealand,Joe,30<br>
      3,9 Baffin Grove Kingston Wellington New Zealand, Jack, 40<br>
      4,92 Wallace Street Wellington New Zealand,Jane,50<br>
    </div>
      <br>
      <p><a href="/">Back to home page</a></p>
    </div>


  </div>
</body>
</html>
